html *
{
    font-size: 1.00em !important;
    font-family: sans-serif;
}

.songList{
    padding-top: 1%;
}

.search{
    padding-bottom: 10px;
}

input{
    border-radius: 25px;
    padding: 5px;
}
table {
    width: 100%;
    padding-bottom: 20px;
}

td {
    text-align: center;
    padding-bottom:1%;
}
body{
    background-color: #2A2E37;
    /*color:  #EE7B01;*/
    color:  #ffffff;
    font-size: large;
}
.songid{
    cursor: pointer;
}

.songid:hover{
    font-weight: bold;
}

.playing{
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding: 10px;
    background-color: white;
    color: black;
    border-radius: 5px;
}

.playing bold {
    font-weight: 600;
}