<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<!-- TODO's -->
<!-- loadingTiles -->


<head>
    <title>Dashboard</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <!-- Jquery & bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <!-- DataTables -->
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/buttons/1.5.2/css/buttons.dataTables.min.css">
    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>

    <!-- Icons -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">

    <!-- Chart -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.min.js"></script>

    <!-- Custom -->
    <link rel="stylesheet" href="Css/style.css">
</head>
<body>
<div class="col-md-12" id="statsDiv">
    <div class="center">
        <div class="col-md-10"><button id="refreshBtn">Refresh</button></div>
        <div class="col-md-4 tile" id="mostpopularTile">
            <p><b>Most popular song</b> [<small id="mostPopularId">5</small>]</p> <!-- TODO ID placement -->
            <p id="mostPopularString" th:text="${votes.mostLiked}"></p> <!-- TODO thymeleaf -->
            <p>
                <i id="mostPopularUpvotes" class="far fa-thumbs-up fa-2x upicon">188</i> <!-- TODO thymeleaf -->
                <i id="mostPopularDownvotes" class="far fa-thumbs-down fa-2x downicon">22</i> <!-- TODO thymeleaf -->
            </p>
        </div>
        <div class="col-md-4 tile" id="mostdislikedTile">
            <p><b>Most disliked song </b> [<small id="mostDislikedId">5</small>]</p> <!-- TODO ID placement -->
            <p id="mostDislikedString" th:text="${votes.mostDisliked}"></p>  <!-- TODO thymeleaf -->
            <p>
                <i id="mostDislikedUpvotes" class="far fa-thumbs-up fa-2x upicon">13</i> <!-- TODO thymeleaf -->
                <i id="mostDislikedDownvotes" class="far fa-thumbs-down fa-2x downicon">139</i> <!-- TODO thymeleaf -->
            </p>
        </div>
        <div class="col-md-2 tile" id="bestvoterTile">
            <p><b>Best voter</b></p>
            <i id="bestVoterName" class="fas fa-user" th:text="${votes.bestVoter}"></i> <!-- TODO thymeleaf -->
            <div class="center">
                <h3 id="bestVoterCount">139</h3> <!-- TODO thymeleaf -->
            </div>
        </div>
    </div>
</div>

<div class="col-md-12" id="chartDiv">
    <div class="center">
        <div class="col-md-10">
            <div class="chart-container center" style="position: relative; height:40vh; width:38vw">
                <canvas id="myChart" class="chartjs-render-monitor"></canvas>
            </div>
        </div>
    </div>
</div>

<div class="col-md-12" id="tableDiv">
    <div class="center">
        <div class="col-md-10">
            <table id="myTable" class="table hover compact row-border">
                <thead class="thead-default">
                <tr>
                    <th>Id</th>
                    <th>Titel</th>
                    <th>Artiest</th>
                    <th>Jaar</th>
                    <th></th>
                </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
</div>

<script th:inline="javascript">

    $(document).ready( function () {

        //AJAX URLS
        //Multiple songs
        var tableSongsURL = "arrays.json";
        var idIndex = 0;
        var titleIndex = 1;
        var artistIndex = 2;
        var pubYearIndex = 3;

        //Single Song
        var votesURL = ""; // "/ID.json" comes after this url
        var secondsIndex = 0;
        var amountOfVotesIndex = 1;

        //Refresh data
        var refreshURL = "";//"https://jsonplaceholder.typicode.com/todos/1";//"refresh";
        var mostPopularIndex = 0;
        var mostPopularIndices = [0,1,2,3,4,5]; //IMPORTANT order: id, title, artist, year, upvotes, downvotes
        var mostDislikedIndex = 1;
        var mostDislikedIndices = [0,1,2,3,4,5]; //IMPORTANT order: id, title, artist, year, upvotes, downvotes
        var bestVoterIndex = 2;
        var bestVoterIndices = [0, 1]; //IMPORTANT order: name, #votes

        //Create and fill table
        var table = $('#myTable').DataTable({
            "ajax": tableSongsURL,
            "columnDefs": [{
                "targets": -1,
                "data": null,
                "defaultContent": "<div class='center'><i class='fas fa-chart-line'></i></div>"
            }]
        });


        $("#refreshBtn").on('click', function(){
            loadingTiles(true);
            $.ajax({
                type: 'GET',
                url: refreshURL,
                success: function(json){
                    loadingTiles(false);
                    updateMostPopularTile(json.data[mostPopularIndex]);
                    updateMostDislikedTile(json.data[mostDislikedIndex]);
                    updateVoterTile(json.data[bestVoterIndex]);
                } // end of success
            }); // end of ajax call

        });

        function loadingTiles(bool){
            //$("#refreshBtn").toggle();
            $("#refreshBtn").attr('disabled', (bool)? 'disabled' : 'enabled'); //TODO ENABLE DOESNT WORK
        }

        function updateMostPopularTile(data){
            var id = data[mostPopularIndices[0]];
            var title = data[mostPopularIndices[1]];
            var artist = data[mostPopularIndices[2]];
            var year = data[mostPopularIndices[3]];
            var upvotes = data[mostPopularIndices[4]];
            var downvotes = data[mostPopularIndices[5]];
            var songString = title + " - " + artist + " (" + year + ")";
            $("#mostPopularId").text(id);
            $("#mostPopularString").text(songString);
            $("#mostPopularUpvotes").text(upvotes);
            $("#mostPopularDownvotes").text(downvotes);
        }

        function updateMostDislikedTile(data){
            var id = data[mostDislikedIndices[0]];
            var title = data[mostDislikedIndices[1]];
            var artist = data[mostDislikedIndices[2]];
            var year = data[mostDislikedIndices[3]];
            var upvotes = data[mostDislikedIndices[4]];
            var downvotes = data[mostDislikedIndices[5]];
            var songString = title + " - " + artist + " (" + year + ")";
            $("#mostDislikedId").text(id);
            $("#mostDislikedString").text(songString);
            $("#mostDislikedUpvotes").text(upvotes);
            $("#mostDislikedDownvotes").text(downvotes);
        }

        function updateVoterTile(data){
            $("#bestVoterName").text(data[bestVoterIndices[0]]);
            $("#bestVoterCount").text(data[bestVoterIndices[1]]);
        }

        $('#mostpopularTile').on('click', function(){
            var label = $("#mostPopularString").text();
            var id = $("#mostPopularId").text();
            var url = votesURL + "/" + id + ".json";
            updateTable(url, label);
        });
        $('#mostdislikedTile').on('click', function(){
            var label = $("#mostDislikedString").text();
            var id = $("#mostDislikedId").text();
            var url = votesURL + "/" + id + ".json";
            updateTable(url, label);
        });


        //Adds function to the button in the table
        $('#myTable tbody').on('click','i', function(){
            var tData = table.row($(this).parents('tr')).data();                    //Edit in case of JSON CHANGES
            var label = tData[titleIndex] + ' - ' + tData[artistIndex] + ' ('+ tData[pubYearIndex] +')';
            var url = votesURL + "/" + tData[idIndex] + ".json";
            updateTable(url, label);
        }); // end of onclick icon


        //Gets the data on the given url and puts it in the chart with a label
        function updateTable(url, label){
            $.ajax({
                type: 'GET',
                url: url,
                success: function(json){
                    myChart.data.labels = json.data[secondsIndex];                   //Edit in case of JSON CHANGES
                    myChart.data.datasets[0].data = json.data[amountOfVotesIndex];   //Edit in case of JSON CHANGES
                    myChart.data.datasets[0].label = label;
                    myChart.update();
                } // end of success
            }); // end of ajax call
        }


        /* --- NO AJAX CALLS AFTER THIS COMMENT --- */

        //init chart
        var ctx = document.getElementById("myChart").getContext('2d');
        var myChart = new Chart(ctx, {
            type: 'line',
            data: {
                labels: [],
                datasets: [{
                    label: '',
                    data: [],
                    backgroundColor: 'rgba(150,150,150,0.2)',
                    borderColor: 'rgba(150,150,150,1)',
                    borderWidth: 1
                }]
            },
            options: {
                responsive: true,
                title: {
                    display: true,
                    text: 'Votes during a song'
                },
                scales: {
                    xAxes: [{
                        display: true,
                        scaleLabel: {
                            display: true,
                            labelString: 'Seconds'
                        }
                    }],
                    yAxes: [{
                        display: true,
                        scaleLabel: {
                            display: true,
                            labelString: 'Votes'
                        }
                    }]
                }
            }
        }); // end of chart


        //rescale height of tiles to the highest height of a tile
        var h1 = $("#mostpopularTile").height();
        var h2 = $("#mostdislikedTile").height();
        var h3 = $("#bestvoterTile").height();
        var newHeight = Math.max(h1,h2,h3);
        $("#mostpopularTile, #mostdislikedTile, #bestvoterTile").css("height", newHeight + "px");

    }); // end of onready document
</script>
</body>
</html>
