<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >

<!-- TODO's -->
<!-- loadingTiles -->


<head>
    <title>Dashboard</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <!-- Jquery & bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <!-- DataTables -->
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css"/>
    <link rel="stylesheet" href="https://cdn.datatables.net/buttons/1.5.2/css/buttons.dataTables.min.css"/>
    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>

    <!-- Icons -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css"/>

    <!-- Chart -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/style/style_dashboard.css"/>
</head>
<body>
<div class="col-md-12" id="statsDiv">
    <div class="center">
        <div class="col-md-10"><button class="btn btn-outline-secondary btn-block" id="refreshBtn">Refresh</button></div>
        <div class="col-md-4 tile" id="mostpopularTile">
            <p><b>Most popular song</b> [<small id="mostPopularId" th:text="${stats.mostLiked.songId}">0</small>]</p>
            <p id="mostPopularString" th:text="${stats.mostLiked.title} + ' - ' + ${stats.mostDisliked.artist}"></p>
            <p>
                <i id="mostPopularVotes" th:text="${stats.mostLiked.upvotes}" class="far fa-thumbs-up fa-2x icon">0</i>
            </p>
        </div>
        <div class="col-md-4 tile" id="mostdislikedTile">
            <p><b>Most disliked song </b> [<small id="mostDislikedId" th:text="${stats.mostDisliked.songId}">0</small>]</p>
            <p id="mostDislikedString" th:text="${stats.mostDisliked.title} + ' - ' + ${stats.mostDisliked.artist}"></p>
            <p>
                <i id="mostDislikedVotes" th:text="${stats.mostDisliked.upvotes}" class="far fa-thumbs-up fa-2x icon">0</i>
            </p>
        </div>
        <div class="col-md-2 tile" id="bestvoterTile">
            <p><b>Best voter</b></p>
            <i id="bestVoterName" class="fas fa-user" th:text="${stats.bestVoter.name}"></i> <!-- TODO thymeleaf -->
            <div class="center">
                <h3 id="bestVoterCount" th:text="${stats.bestVoter.count}">0</h3> <!-- TODO thymeleaf -->
            </div>
        </div>
    </div>
</div>

<div class="col-md-12" id="chartDiv">
    <div class="center">
        <div class="col-md-10">
            <div class="chart-container center" style="position: relative; height:40vh; width:38vw">
                <canvas id="myChart" class="chartjs-render-monitor"></canvas>
            </div>
        </div>
    </div>
</div>

<div class="col-md-12" id="tableDiv">
    <div class="center">
        <div class="col-md-10">
            <table id="myTable" class="table hover compact row-border">
                <thead class="thead-default">
                <tr>
                    <th>Id</th>
                    <th>Titel</th>
                    <th>Artiest</th>
                    <th>Jaar</th>
                    <th></th>
                </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
</div>

<script th:inline="javascript">

    $(document).ready( function () {

        //AJAX URLS

        //ALL SONGS
        var tableSongsURL = "/api/songs";
        //JSON objects: data: {id, artist, title, year}

        //SINGLE SONG WITH VOTES
        var votesURL = "/api/votes"; // "/{ID}.json" comes after this url
        //JSON objects: data: {seconds, amountOfVotes}

        //REFRESH API
        var refreshURL = "/api/refresh";
        //JSON objects: data: [ mostPopular {id, title, artist, year, votes},
        //                      mostDisliked {id, title, artist, year, votes},
        //                      bestVoter {name, votesCount}]


        //Create and fill table
        var table = $('#myTable').DataTable({
            "ajax": tableSongsURL,
            "columnDefs": [{
                "targets": -1,
                "data": null,
                "defaultContent": '<div class="center"><i class="fas fa-chart-line"></i></div>'
            }],
            "columns": [
                { "data": "id" },
                { "data": "title" },
                { "data": "artist" },
                { "data": "year" },
                {"data": null}
            ]
        });


        $("#refreshBtn").on('click', function(){
            loadingTiles(true); //Disable second ajax call
            $.ajax({
                type: 'GET',
                url: refreshURL,
                success: function(json){
                    updateMostPopularTile(json.data.mostPopular);
                    updateMostDislikedTile(json.data.mostDisliked);
                    updateVoterTile(json.data.bestVoter);
                },
                error: function () {
                    alert("Error getting json.");
                },
                complete: function () {
                    loadingTiles(false); //Enable the clicked button
                }
            }); // end of ajax call

        });

        function loadingTiles(bool){
            bool? $("#refreshBtn").attr('disabled', 'disabled') : $("#refreshBtn").removeAttr("disabled");
        }

        function updateMostPopularTile(data){
            var songString = data.title + " - " + data.artist + " (" + data.year + ")";
            $("#mostPopularId").text(data.id);
            $("#mostPopularString").text(songString);
            $("#mostPopularVotes").text(data.votes);
        }

        function updateMostDislikedTile(data){
            var songString = data.title + " - " + data.artist + " (" + data.year + ")";
            $("#mostDislikedId").text(data.id);
            $("#mostDislikedString").text(songString);
            $("#mostDislikedVotes").text(data.votes);
        }

        function updateVoterTile(data){
            $("#bestVoterName").text(data.name);
            $("#bestVoterCount").text(data.votesCount);
        }

        $('#mostpopularTile').on('click', function(){
            var label = $("#mostPopularString").text();
            var id = $("#mostPopularId").text();
            var url = votesURL + "/" + id + ".json";
            updateChart(url, label);
        });
        $('#mostdislikedTile').on('click', function(){
            var label = $("#mostDislikedString").text();
            var id = $("#mostDislikedId").text();
            var url = votesURL + "/" + id + ".json";
            updateChart(url, label);
        });


        //Adds function to the button in the table
        $('#myTable tbody').on('click','i', function(){
            var tData = table.row($(this).parents('tr')).data();
            var label = tData.title + ' - ' + tData.artist + ' ('+ tData.year +')';
            var url = votesURL + "/" + tData.id + ".json";
            updateChart(url, label);
        }); // end of onclick icon


        //Gets the data on the given url and puts it in the chart with a label
        function updateChart(url, label){
            $.ajax({
                type: 'GET',
                url: url,
                success: function(json){
                    myChart.data.labels = json.data.seconds;
                    myChart.data.datasets[0].data = json.data.amountOfVotes;
                    myChart.data.datasets[0].label = label;
                },
                error: function(){
                    mockdata(); //testingphase done --> show real error
                },
                complete: function(){
                    myChart.update();
                }
            }); // end of ajax call
        }

        //init chart
        var ctx = document.getElementById("myChart").getContext('2d');
        var myChart = new Chart(ctx, {
            type: 'line',
            data: {
                labels: [],
                datasets: [{
                    label: '',
                    data: [],
                    backgroundColor: 'rgba(150,150,150,0.2)',
                    borderColor: 'rgba(150,150,150,1)',
                    borderWidth: 1
                }]
            },
            options: {
                responsive: true,
                title: {
                    display: true,
                    text: 'Votes during a song'
                },
                scales: {
                    xAxes: [{
                        display: true,
                        scaleLabel: {
                            display: true,
                            labelString: 'Seconds'
                        }
                    }],
                    yAxes: [{
                        display: true,
                        scaleLabel: {
                            display: true,
                            labelString: 'Votes'
                        }
                    }]
                }
            }
        }); // end of chart


        //rescale height of tiles to the highest height of a tile
        var h1 = $("#mostpopularTile").height();
        var h2 = $("#mostdislikedTile").height();
        var h3 = $("#bestvoterTile").height();
        var newHeight = Math.max(h1,h2,h3);
        $("#mostpopularTile, #mostdislikedTile, #bestvoterTile").css("height", newHeight + "px");

        //console.log($("#mostPopularVotes").text);
        //$("#mostPopularVotes").addClass(($("#mostPopularVotes").text) > 0 ? "fa-thumbs-up" : "fa-thumbs-down");


        function mockdata(){
            myChart.data.labels = [0,1,2,3,4,5,6,7,8,9];
            myChart.data.datasets[0].data = [r(15),r(15),r(15),r(15),r(15),r(15),r(15),r(15),r(15),r(15)];
            myChart.data.datasets[0].label = "Mock Data";
        }
        function r(max) {
            return Math.floor(Math.random() * Math.floor(max));
        }

    }); // end of onready document
</script>
</body>
</html>
