<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>DJ page</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" href="/style/style.css" />
</head>
<body>
<table id="table" style="cursor: pointer;">
    <div class="songList">
    <tr>
        <th>Song</th>
        <th>Artist</th>
        <th>Release date</th>
    </tr>
    <tr class="search">
        <td><input type="text" placeholder="Song" id="song" onchange="search()"/></td>
        <td><input type="text" placeholder="Artist name" id="artist" onchange="search()"/></td>
        <td><input type="number" placeholder="Year" id="year" onchange="search()"/></td>
    </tr>
    <tr>
        <td>Alles moet op</td>
        <td>lamme frans</td>
        <td>2018</td>
    </tr>
    <tr>
    </tr>
    </div>

    <audio>
        <source src="horse.mp3" type="audio/mpeg" />
        Your browser does not support the audio element.
    </audio>
</table>
</body>
<script src="/js/app.js"></script>
</html>