<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>DJ page</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" href="/style/style.css" />
</head>
<body>
<div class="playing">Now playing: <bold class="song">None</bold></div>
<table id="table">
    <div class="songList">
    <tr>
        <th>Song</th>
        <th>Artist</th>
        <th>Release date</th>
        <th>Play Button</th>
    </tr>
    <tr class="search">
        <td><input type="text" placeholder="Song" id="song" onchange="search()"/></td>
        <td><input type="text" placeholder="Artist name" id="artist" onchange="search()"/></td>
    </tr>
        <tr th:each="song : ${music}">
            <td class="title" th:value="${title}" th:text="${song.title }">title</td>
            <td class="artist" th:value="${artist}" th:text="${song.artist }">First Name</td>
            <td class="year" th:value="${year}" th:text="${song.year }">year</td>
            <td class="songid" th:id=" ${song.id}" th:value="${id}" th:text="play">play</td>
        </tr>
    <tr>
    </tr>
    </div>

</table>
</body>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="/js/app.js"></script>
</html>